*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerbar{
    display: none;
}

.logo img{
    width: 150px;
}

.bar{
    display: none;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 7vw;
    background-color: rgb(79,111,82);
    border-bottom: 2px solid rgb(236,227,206);
    box-shadow: 0 2px 20px rgb(236,227,206);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header ul{
    display: flex;
    align-items: center;
}

.header ul li:hover{
    color: rgb(199,220,167);
}

.nav ul li{
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
}

.account{
    flex: 0.1;
}

.account ul{
    display: flex;
    justify-content: end;
}

.account ul li{
    padding: 0 15px;
    font-size: 18px;
}

.bar i:hover{
    color: rgb(199,220,167);
}

.home{
    background-color: rgb(79,111,82);
    padding: 0 7vw;
}

.main_slide4{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 100px 0;
}

.main_slide4 .chef-feed{
    flex: 0.5;
    margin-top: 30px;
}

.main_slide4 .chef{
    flex: 0.5;
    text-align: right;
}

.main_slide4 .chef img{
    margin-top: -70px;
    width: 50vw;
    max-width: 450px;
}

.main_slide4 .chef-feed h2{
    font-size: 32px;
    margin-bottom: 25px;
}

.main_slide4 .chef-feed p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.main_slide4 .chef-detail{
    margin-top: 20px;
    display: flex;
    margin: 25px 0;
    align-items: center;
}

.main_slide4 .chef-detail img{
    width: 150px;
    border-radius: 50%;
    margin-right: 15px;
    border: 4px solid white;
}

.main_slide4 .chef-detail h6{
    font-size: 30px;
}

.main_slide4 .chef-detail p{
    font-size: 20px;
    color: rgb(210,222,50);
}

.footer{
    padding: 60px 0;
    border-top: 2px solid rgb(236,227,206);
    background-color: rgb(79,111,82);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-1{
    text-align: left;
    cursor: pointer;
}

.footer-1 .logo img{
    width: 200px;
}

.footer-1 h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.footer-1 p{
    cursor: pointer;
    font-size: 14px;
    padding: 2px;
    color: rgb(210,222,50);
}

.footer-2{
    text-align: center;
    cursor: pointer;
}

.footer-2 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-2 img{
    width: 100px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px){
    .header .nav,.header .account{
        display: none;
    }
    .bar{
        display: block;
        cursor: pointer;
    }
    .headerbar{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        bottom: 0;
        right: -100%;
        transition: all 0.5s;
        background-color: rgb(58,77,57);
    }

    .headerbar .account, .headerbar .nav{
        display: block;
        font-size: 18px;
    }

    .bar .fa-xmark{
        display: none;
        top: 20px;
        right: 5w;
        position: absolute;
        font-size: 25px;
    }
    .headerbar .nav ul{
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }
    .headerbar .nav li{
        width: 96vw;
        margin: 10px 0;
        padding: 15px 30px;
        box-shadow: 0 2px 15px white;
        font-size: 15px;
        margin-top: 5px;
    }
    .headerbar .account{
        line-height: 40px;
        margin-top: 60px;
        background-color: rgb(115,144,114);
        padding: 15px;
    }
    .headerbar .account ul{
        justify-content: space-between;
    }

    .main_slide4{
        margin-top: 50px;
    }
    
    .main_slide4 .chef-feed{
        flex: 1;
    }

    .main_slide4 .chef{
        flex: 1;
        text-align: center;
        margin-bottom: 40px;
    }

    .main_slide4 .chef img{
        width: 80vw;
    }

    .footer .footer-1 div{
        margin: 0;
    }

    .footer div{
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 550px){

    .red_btn{
        margin-top: 10px;
        width: 120px;
        line-height: 30px;
        font-size: 12px;
        padding: 0 10px;
    }

    .main_slide4 .chef-vic div p{
        display: none;
    }

    .footer div:last-child{
        margin-bottom: 0;
    }

    .footer{
        padding-bottom: 25px;
    }

    .footer-1 h4{
        font-size: 20px;
    }

    .footer-2 h2{
        font-size: 20px;
    }
}

html{
    scroll-behavior:smooth
}